$bootstrap-sass-asset-helper: true

@import "./bootstrap/bootstrap.sass"
@import "./components/component-login.sass"
@import "./components/component-searchbox.sass"
@import "./components/component-switch.sass"
@import "./components/component-skills-and-tags.sass"
@import "./components/table.sass"

body
  margin: auto

.main-container
  margin-top: $navbar-height + $spacing-standard

.navbar.navbar-inverse
  background-color: $brand-primary
